.pagination{
    text-align: center;
}
.pagination a{
    color: black;
    text-decoration: none;
    padding: 8px 16px;
}
.pagination a.active{
    background-color: grey;
    font-weight: bold;
    border-radius: 5px;
}
.pagination a:hover:not(.active){
    background-color: #ddd;
    border-radius: 5px;
}