*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.gallery{
    display: inline-block;
    border: 1px solid hsl(0, 0%, 60%);
    margin:5px
}
.gallery .description{
    text-align: center;
    padding: 5px;
    background-color: hsl(0, 0%, 90%);
}
.gallery:hover{
    border: 1px solid hsl(0, 0%, 20%);
}