body{
    margin: 0;
}
.box{
    border: 2px solid black;
    font-size: 5em;
    width: 250px;
    height: 250px;
}
#box1{
    background-color: lightblue;
    margin-top: 20px;
    margin-bottom: 20px;
    margin: auto; 
    /*this will center the box*/
}
#box2{
    background-color: lightgreen;
    margin-top: 50px;
    margin-left: auto; 
    /*this box will always be on the right*/
}