body{
    border: 2px solid black;
    display: flow-root;
    <!--display: flow-root is used so that anything that is floating will not overflow outside-->
}
#img1{
    float: left;
    margin-right: 10px;
}
#img2{
    float: right;
    margin-left: 10px;
}