
body{
    font-family: Helvetica, sans-serif;
}
h1{
    font-size: 3em;
    text-align: center;
    color: hsl(233, 49%, 35%);
}
#container{
    text-align: center;
    color: hsl(233, 49%, 35%);
}
#myLabel{
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: hsl(233, 49%, 35%);
}
#myText{
    font-size: 1.5em;
    text-align: center;
    color: black;
}
#myButton{
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    background-color: hsl(0, 0%, 65%);
    font-size: 1.5em;
    color: white;
    cursor: pointer;
}
#myButton:hover{
    background-color: hsl(0, 0%, 34%);
}
#result{
    font-size: 1.5em;
    font-weight: bold;
    color: hsl(233, 49%, 35%);
    display: block;

